Flask==2.0.2
Werkzeug==2.0.2
scikit-learn==1.0.2
pandas==1.4.0
numpy==1.22.1
joblib==1.1.0
Jinja2==3.0.3
itsdangerous==2.0.1
requests==2.27.1
scipy==1.7.3
matplotlib==3.5.1
gunicorn==20.1.0
MarkupSafe==2.0.1
pyttsx3==2.90







